body {
    font-family: Arial, sans-serif;
    background-color: #d88e0e;
    text-align: center;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #dfd7cf;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
h1 {
    color: #333;
}
label {
    font-weight: bold;
}
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}
button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
p {
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
}